

nav {
    background-color: #333;
}
*{
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

.about-section{
    background-image: url("../assets/logo/_bd0051fa-be6d-4df1-87fc-2d8ae9c03658.jpeg");
    background-repeat:  no-repeat;
    background-size: 45%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    background-size: 45%;
   
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;    
}

.skills{
    display: block;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}


.footer {
    display: grid;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-content: bottom;
    width: 100vw;
    margin-top: 1000px;
  }




  
