.about{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    padding: auto;
    background-image: "assets/_1300db33-1a34-4c5e-84e9-93b772994cd2.jpeg";
    font-family: 'Source Sans Pro', sans-serif;
    height: 100;

}

nav div ul li:hover {
    color: #2473e3;
    text-decoration: blue;
    transition: all 1s ease-in-out;
}


.aboutus h1 {
font: hevlatica;
text-align: center;
margin-top: 20px;
font-size: 3em;

}
.aboutus {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    background-color: #f5f5f5;
    font-family: 'Source Sans Pro', sans-serif;
} 


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-content: bottom;
    margin-top: auto;
  }




  