/* css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b93ab;
}

header {
    background-color: #4e4d4d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 550;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}


main {
    margin: 20px 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

nav {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #5a5a5a;
    width: 200px;
    height: calc(100% - 50px);
    padding: 1px;
    overflow-y: auto;
    z-index: 500;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    top: 50px;
    left: 200px;
    background-color: #ccc;
    width: 20%;
    height: calc(100% - 55px);
    padding: 10px;
    overflow-y: auto;
    z-index: 500;
}

.fa {
    font-size: 30px;
}

nav ul,
aside ul {
    list-style-type: none;
    padding: 0;
}

nav ul.subcategories {
    padding-left: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

nav ul.subcategories li {
    margin-bottom: 5px;
}

nav ul.subcategories li a {
    text-decoration: none;
    color: #242424;
}

.checked {
    color: cyan;
}

main {
    margin-top: 50px;
    margin-left: 400px;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav ul, aside ul {
    list-style-type: none;
    padding: 1;
}

nav ul li, aside ul li {
    margin-bottom: 10px;
}

nav ul li a, aside ul li a {
    color: black;
}

nav ul h6, aside ul h6 {
    margin-bottom: 10px;
    font-weight: bold;

}
