/* css/styles.css */

header {
    background-color: #4e4d4d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 550;
    height: 50px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px
}

nav {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #5a5a5a;
    width: 200px;
    height: calc(100% - 50px);
    padding: 1px;
    overflow-y: auto;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel {
    position: fixed;
    top: 50px;
    left: 200px;
    padding: 1px;
    overflow-y: auto;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50%;
    flex: auto;
    space
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: auto;
}

.fa {
    font-size: 30px;
}

.checked {
    color: cyan;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
